{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="text_page_container">
		<img src='{% static "images/about_picture.jpg" %}'>
		<div class="text_page_body">
<h1>About Me:</h1>

<p>Hello there, stranger of the internet! </p>

<p>My name is Kevin Liao, and I used to write (shamelessly stolen from Reddit) that I am an unsupervised minor with a hammer and unclear instructions. Unfortunately, since I just turned 18, that is no longer the case. </p>

<p>I’m a freshman at Haverford College in Pennsylvania, and I intend to declare a major in Computer Science at the end of my sophomore year. I’m fascinated by how the advent of computers has required us to find a new way of algorithmically expressing our thinking and I redefined how we perceive efficiency. The full stack fascinates me, but I am of the belief that when we are creating, human usability must come before all else. </p>

<p>Hopefully I’ll also be remotely intelligent enough to pursue linguistics and some foreign language in some form. I love learning languages, not only because I do believe that to a certain extent, breaking the linguistic boundaries that confine us allows us to consider new methods of thinking, but also because they open the door (and give me an excuse) to talk to random strangers that I never get the opportunity to talk to. (I subscribe to Benny Lewis’ Fluent in 3 Months technique of stepping a little outside of your comfort zone and practicing a language with strangers— no matter how silly you end up looking.)</p>

<p>I was born in Taipei, Taiwan but I moved to Sydney, Australia when I was less than a year-old. I then moved from there after kindergarten and went to Beijing, China, where I lived for eleven years and studied in an American-style elementary, middle and high school. I love all the countries that I identify with, and I don’t like to pick and choose. </p>

<p>I blog about a variety of topics that fascinate me ranging from computer science and software development, language learning (one of my favourite pastimes), photography, simple living, productivity, social justice and equality, and in general anything that I find interesting. </p>

<p>In case my mediocre writing is insufficient to entertain you, I invite you to check out some blogs/cool things that I follow. </p>

<ul>
<li><a href="http://zenhabits.net">Zen Habits</a>: Leo Babauta writes about simple living and minimalism beautifully. His writing has completely changed my life. I hope it has the same impact on you as it had on me.</li>
<li><a href="http://www.fluentin3months.com/">Fluent in 3 Months</a>: Benny Lewis has quite an interesting story. He could only speak a single language up until his 20s, but he suddenly decided to pursue language learning. He now speaks 9 or so different languages and travels the world learning languages. He blogs about his method of language learning, Speak From Day One, as a way to encourage us all to take the plunge and learn a language by maximizing our conversation time with native speakers.</li>
<li><a href="http://www.abc.net.au/pm/">ABC PM</a>: Australian-public taxpayer funded news that is free of profit-fueled editorializing. What more could you possibly want?</li>
</ul>




	</div> <!--End text_page_body-->
</div><!--end text_page_container -->
	{% endblock %} <!-- end contentblock -->
	
