{% extends 'base.html' %}
{% load staticfiles %}
{% block additional_header %}
<!-- cover.css -->
<link rel="stylesheet" href="{% static 'styles/cover.css' %}">
<!-- Cover Page JavaScript -->
<script src="scripts/cover.js"></script>
{% endblock %}
{% block content %}
<div class="cover">
		<div class="container">
			<h1>Hi. I'm Kevin.</h1>
			<p>I like to create things. Want to know more?</p>
			<a href="about.html" class="btn btn-lg btn-default">Learn more</a>	
		</div> <!-- End of cover container-->
	</div> <!--End of cover-->
{% endblock %} <!-- End content block>
