{% extends 'base.html' %}
{% load staticfiles %}
{% block additional_header %}
<!-- blog.css -->
<link rel="stylesheet" href="{% static 'styles/blog.css' %}">
{% endblock %}

{% block content %}
<div class="text_page_container">
	<img src="{{MEDIA_URL}}{{Blog_Post.post_photo}}"/>

	<div class = "text_page_body">
		<h2 class="blog_title">{{Blog_Post.title_text}}</h2>
		<div class="blog_content">{{Blog_Post.post_content_text}}</div>
	</div> <!-- end text_page_body-->
</div> <!-- end text_page_container-->

{% endblock %}


