.blog_content{
	font-family: Georgia,Times,Times New Roman,serif; 
	font-size: 20px}

.blog_title{
	font-family: Georgia, Times, Times New Roman, serif; 
	color: black;
	text-align: center;  
}

a.blog_title{
	font-size: 60px; 
}


h1.blog_title{
	font-size: 60px; 
	color: black; 
	text-align: center; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center; 
}
