html {
}



.nav {
	padding-top: 10px;
	background-color: rgb(0,0,0);  
	width: 100%;
	margin: 0 auto; 
}

.nav ul {
	margin: 14px 10px; 
}

.nav .container {
	width: 75%;
	margin-left: auto; 
	margin-right: auto; 
}

.nav h2 {
	padding-top: 0px;
	color: white; 
	margin-top: 0px; 	
}
.nav a {
	color: #5a5a5a; 
	font-size: 20px; 
	font-weight: bold; 
	color: white; 
}
.nav li {
	display: inline;
 	margin-left: 20px;	
}

.nav li.current-element{
	border-bottom: 2px solid transparent;
	color: white;
}

.cover .container{
	width: 25%;
	height: 20%;
	background-color: black; 
	color: white;
	text-align: center; 
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);	
	background-color: rgba(0,0,0,0.3); 
	padding: 10px;
	position: fixed;
	top:40%;
	left: 37.5%;
	margin: auto;
}

.text_page_container {
	background-color: rgba(234,236,234,1);
	height: 100%;
	width: 70%; 
	margin-left: 16%; 
	margin-right: 14%; 
	/*-moz-box-shadow: 1px 1px 1px #575757;
	-webkit-box-shadow: 1px 1px 1px #575757;
	box-shadow: 1px 1px 1px #575757;*/
}

.text_page_container img {
	width: 100%; 
}

.text_page_body {
	font-size: 18px; 
	padding-right: 15%;
 	padding-left: 15%; 
	padding-bottom: 15%; 	
	margin-left: auto; 
	margin-right: auto; 
}
